<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MethoOveriding/src/overRiding/Method_Overiding.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="overRiding.Method_Overiding"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MethoOveriding"/>
</launchConfiguration>
